 <!DOCTYPE HTML> 
<html lang="en"> 
<head> 

<title>Pyception</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="../assets/html.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/jquery.color.js"></script>
<script src="../assets/oooFancy.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
<div id="sunSunSun"></div>
<div id="eighteenAndUnderBar">
  <a href="/">Home</a>
  <a href="/about">About</a>
</div>

<div id="michelleIsContent">
  <a href="/"><div id="title">
  PYCEPTION
</div>
</a>
Ever had trouble relaying the true elegance of your code to friends? 
Or forgotten what a "tree" actually is? Pyception lets you visualize and share the essential structure of your code with a little reminder about 

our roots.<br><br>It's built in Python and runs Python, hence the name!<br><br><a href = "http://5.80.171.76:8000/437"> Example </a></div>
</body>

</html>
