<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Pyception</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 

<link href="../assets/html.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
<script type="text/javascript" src="../assets/jquery.color.js"></script>
<script src="../assets/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script src="../assets/oooFancy.js" type="text/javascript" charset="utf-8"></script>
<script>
  $(window).load( function() {
    draw = function(types, div, _x, _y) {
      var count = 0;
      for (var name in types) {
        count += 1;
      }
	  _x = _x - (count * 100);
      for (var name in types) {
        var alttext = types[name]['doc'];
		_x += 100;
			
        var tit = new String();
        
        if (types[name].hasOwnProperty('doc')) {
          tit = types[name]['doc'];
        }
        
        console.log(tit);
        
        types[name]['el'] =  $("<div></div>").text(name).data('info', {name: name, x: _x + 15, y: _y + 15, fruit: types[name]}).addClass(div).attr('title',tit).css({left: _x, top: _y}).toggle(function(){
          var data = $(this).data('info');
          expand(data.fruit, data.x, data.y);
        }, function(){
          var data = $(this).data('info');
          removeChildren(data.fruit);
        }).appendTo("#growsOnTrees");
      }
      $('#growsOnTrees div').hover(function() {
        $('#growsOnTrees div').stop().animate({'opacity': '.2'});
        $(this).stop().animate({'opacity': '1'});
      }, function() {
        $('#growsOnTrees div').stop().animate({'opacity': '.6'});
        $(this).stop().animate({'opacity' : '.6'});
      });
	  return _y;
    }
    
    expand = function(current, x, y) {
      var count = 0;
      for (var key in current) {
        count += 1;
      }
      if (current.hasOwnProperty('classes')) {
		var i = 0;
	  for (var name in current['classes']) {
			
          var newX = (i - count / 2) * 600 / count + x + 150;
			i += 1;
          console.log(newX);
          var newY = Math.floor(Math.random()*50) + y - 100;
          var tit = new String();
        
          if (current['classes'][name].hasOwnProperty('doc')) {
            tit = current['classes'][name]['doc'];
          }
          
          current['classes'][name]['el'] =  $("<div></div>").text(name).data('info', {name: name, x: newX, y: newY, fruit: current["classes"][name]}).addClass("classFruit").attr('title',tit).css({left: newX, top: newY}).toggle(function(){
           var data = $(this).data('info');
           expand(data.fruit, data.x, data.y);
          }, function(){
            var data = $(this).data('info');
            removeChildren(data.fruit);
          }).appendTo("#growsOnTrees");
        }
      }
      
      if (current.hasOwnProperty('functions')) {
		var i = 0;
        for (var name in current['functions']) {
          var newX = (i - count / 2) * 600 / count + x + 150;
			i += 1;
          console.log(newX);
          var newY = Math.floor(Math.random()*50) + y - 100;
          var tit = new String();
        
          if (current['functions'][name].hasOwnProperty('doc')) {
            tit = current['functions'][name]['doc'];
          }
          
          current['functions'][name]['el'] =  $("<div></div>").text(name).data('info', {name: name, x: newX, y: newY, fruit: current["functions"][name]}).addClass("methodFruit").attr('title',tit).css({left: newX, top: newY}).toggle(function(){
            var data = $(this).data('info');
            expand(data.fruit, data.x, data.y);
          }, function(){
            var data = $(this).data('info');
            removeChildren(data.fruit);
          }).appendTo("#growsOnTrees");
        }
      }
      
      if (current.hasOwnProperty('variables')) {
		var i = 0;
        for (var name in current['variables']) {
          var newX = (i - count / 2) * 600 / count + x + 150;
			i += 1;
          console.log(newX);
          var newY = Math.floor(Math.random()*50) - 100 + y;
          var tit = new String();
        
          if (current['variables'].hasOwnProperty('doc')) {
            tit = current['variables']['doc'];
          }
          
          current['variables'][name]['el'] =  $("<div></div>").text(name).data('info', {name: name, x: newX, y: newY, fruit: current["variables"][name]}).addClass("varFruit").css({left: newX, top: newY}).toggle(function(){
            var data = $(this).data('info');
            expand(data.fruit, data.x, data.y);
          }, function(){
            var data = $(this).data('info');
            removeChildren(data.fruit);
          }).appendTo("#growsOnTrees");
          
        }
      }
      $('#growsOnTrees div').hover(function() {
        $('#growsOnTrees div').stop().animate({'opacity': '.2'});
        $(this).stop().animate({'opacity': '1'});
      }, function() {
        $('#growsOnTrees div').stop().animate({'opacity': '1'});
        $(this).stop().animate({'opacity' : '.6'});
      });
    }
    
    removeChildren = function(current) {
      for(var key in current.classes) {
        removeChildren(current.classes[key]);
        if(current.classes[key].el) {
          current.classes[key].el.remove();
        }
      }
      for(var key in current.functions) {
        removeChildren(current.functions[key]);
        if(current.functions[key].el) {
          current.functions[key].el.remove();
        }
      }
      for(var key in current.variables) {
        removeChildren(current.variables[key]);
        if(current.variables[key].el) {
          current.variables[key].el.remove();
        }
      }
    }
    
      $('#pushThisButton').click(function() {
        $('#semiRelevantInfo').slideToggle('slow', function() {
          $('#editor, #containsCodeEditor').css({ 'height' : '500px' });
          editor = ace.edit("editor");
          var PythonMode = require("ace/mode/python").Mode;
          editor.getSession().setMode(new PythonMode());
          $('#showForm').animate({ 'opacity' : '1' });
        });
      });

      $('#smallify').click(function() {
        $.post('/transferCode/', {'code': editor.getSession().getValue()}, function(dic) {
          all = dic['parsed'];
          id = dic['ID'];
          console.log( all );
      
        var _y = draw(all.classes, 'classFruit', 500, -Math.floor(Math.random()*50) + 175);
        _y = draw(all.variables, 'varFruit', 500, -Math.floor(Math.random()*50) + 375);
        _y = draw(all.functions, 'methodFruit', 500, -Math.floor(Math.random()*50) + 315);
          $('#share').append('<textarea>http://5.80.171.76:8000/'+id+'</textarea>');
        });
        
        $('#showFrom').animate({ 'opacity' : '0' });
        $('#editor, #containsCodeEditor').css({ 'height' : '0px' });
      
        $('#contentButNotHappy').fadeToggle('slow');
        $('#contentAndNotSad').fadeToggle('slow');
      
      });

  });

</script>
</head>

<body>
<div id="eighteenAndUnderBar">
  <a href="/">Home</a>
  <a href="nonexistant.html">About</a>
</div>

<div id="contentButNotHappy">

  <div id="semiRelevantInfo">
  
  <a href="/"><div id="title">
  PYCEPTION
</div>
</a>
    Pyception will grow your beautiful code into a beautiful tree.<br>
    <span id="pushThisButton" class="bigBlack">Try it now</span>
  </div>
  <div id="showForm">
  Please type your code below.
  <div id="containsCodeEditor">
  <div id="editor"></div>
  </div>
  <center><button class="bigBlack" id="smallify">Treeify Me!</button></center>
  
  </div>

  
</div>

<div id="contentAndNotSad">
  <div id="treeOnMyPage">
    <img src="../assets/tree.png"> 
  </div>
  
  <div id="growsOnTrees">
    <!-- dynamically filled -->
  </div>
  
  <div id="share">
    Share your code: <br>
  </div>
</div>

</body>

</html>